* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, sans-serif;
}

h1 {
    font-size: 22px;
}

.container {
    max-width: 980px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2;
}

/* =================== HEADER ===================== */

.icon {
    font-size: 22px;
}

.contacts {
    margin: 20px 40px 0;
}

/* =================== MAIN ===================== */

.skills-list {
    margin-left: 40px;
}
